/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos do conteúdo principal */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  a {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  